[Desktop Entry]
Name=SwiftDrop
Comment=Fast LAN file transfer
Exec=SwiftDrop
Icon=swiftdrop
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=file;transfer;lan;share;
